@charset "utf-8";

@font-face {
	font-family:'FontAwesome';
	font-size:100%;
    src:url('font-awesome-4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
}
button:focus{
	outline:none;
}

/******INDEX PAGE*********/

 #jumbo-index {
    position: relative;
    background: rgba(51, 51, 51, 0.8);
    padding-top: 8%;
    padding-bottom:8%;
    margin-top:10%;
    margin-bottom:10%;
    color: inherit;
    position: relative;
    vertical-align:middle;
    height:80%;
  }
  #jumbo-index form{
    height:auto;
    padding-bottom:0.5%;
  }
  #jumbo-index input{
    font-size:2em;
    margin-bottom:4%;
    height:3%;

  }
   #jumbo-index button{
    font-size:2em;
    margin-bottom:0;

  }
   #jumbo-index .btn-default{
    font-size:1.5em;
    margin-bottom:4%;

  }

@media (min-width:1200px){
/*body {
  font-size:120%;
  
}*/
#jumbo-index {
  margin:25% auto 25% auto;
  padding-top: 10%;
  padding-bottom:10%;
  }
  #jumbo-index input{
  margin-bottom:6%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /*body {
  font-size:110%; 
}*/
#jumbo-index {
  margin:30% auto 30% auto;
  padding-top: 10%;
  padding-bottom:10%;
  }
  #jumbo-index input{
  margin-bottom:6%;
  }
}
/*****end of index page******/


/***********home page**********/

/*div to left of screen containing preview of chosen image and the
invisible output box that houses the preview*/
.image-holder{
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
}
/*this applies properties to the image that will appear as a left
screen preview*/
#list{
	position:relative;
    padding-top:0%;
    width:auto;
    text-align:left;
}
.image-holder .fa{
	position:relative;
	font-size:3em;
	display:block;
	text-align:center;
}
.image-holder .warning-text{
	text-align: center;
	padding:5% 0 5% 0;
	color:#FF0;
}
.image-holder img{
    position:relative;
    width:90%;  
}
.chosen-statement{
	position:relative;
	color:#fff;
	font-size:1.2em;
	text-align: left;
	padding:2%;
}
.chosen-statement .warning-text{
	font-size:1.3em;
}
.student-names{
	position:absolute;
	width:100%;
	color:#fff;
	font-size:1.5em;
	text-align: left;
	bottom:0;
	left:0;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 4%;
	max-height:25%;
}
.student-names .warning-text{
	font-size:1em;
	padding:0 0 5% 0;
	}
.name-text{
	position:relative;
	width:50%;
	float:left;
}
.warning-text{
	font-size:1.5em;
	color:#FF0;
}

/*FORMS*/
/*div that contains both the first stage form('params') and 
second stage form('statementbody')*/
.form-holder{
	position:absolute;
	height:100%;
	top:0;
	bottom:0;
	float:right;
	right:10%;
	text-align:center;
}
/*general properties shared by individual forms used in both stages*/
.forms{
	position:relative;
	padding-top:5%;
	height:auto;
}
/*this id is added to form-holder to get first stage of form*/
#params{
	background:rgba(64,64,64,0.8);
	padding:10px;
	height:100%;
	top:0;
	bottom:0;
	width:40%;
	display:block;
}
#params select{
	margin-top:10%;
	margin-bottom:10%;
}
.warning-box{
	margin-top:20%;
}
/*Added to the first-stage form that appears in 'params'*/
#params .forms{
	position:relative;
	height:auto;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10%;	
}
/*adding properties to the select menus that appear in the 'params'
stage of the form*/
.form-holder select{
	position:relative;
	font-size:1.2em;
	height:5%;
	padding:2% 0 2% 2%;
	border-radius:0.5em;
	margin-bottom:5%;
}
/*adding additional properties to the green buttons*/
.form-holder .btn-success{
	position:relative;
	padding-top:2%;
	padding-bottom:2%;
	font-size:150%;
}
/*this id is added to form-holder to get second stage of form*/
#statementsbody{
	background:rgba(64,64,64,0.8);
	padding:2% 2% 0 2%;
	height:100%;
	top:0;
	bottom:0;
	width:40%;
	display:none;
	text-align:center;
	
}
/*Added to the second-stage form that appears in 'statementbody'*/
#statementsbody .forms{
	position:relative;
	height:auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;	
}
/*adding additional properties to the white buttons that appear 
on the second stage of the form*/
.form-holder .btn-default{
	padding:2%;
	font-size:1.3em;
	color:#666;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
}

/*properties added to the text-field comments box
#user-comments{
	width:100%;
	border-radius:0.5em;
	padding:2%;
	font-size:100%;
}*/  
.modal-link{
	position:relative;
	/*height:auto;*/
	height:5em;
	text-align: left;
	width:100%;
	border-radius:0.5em;
	padding:2%;
	font-size:100%;
	background-color: #ffffff;
}
/*this is used to space the buttons on statementsbody id*/
.button-row{
	position:relative;
	width:100%;
	padding-top:5%;
	padding-bottom:5%;
	height:auto;
}
/*styling needed to add file browsing functionality to button*/
#statementsbody .btn-success input[type=file]{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	opacity:0
}
/*additional stlye for glyph in white default buttons*/
.btn-default .fa {
	font-family:'FontAwesome';
	margin-right:2%;
}
.back{
	position:relative;
	display:inline-block;
	width:auto;
    float:left;
	background:none;
	border:none;
	color:#ccc;
	text-align:left;
	font-family:'FontAwesome';
	font-size:3em;
	margin-left:0;
	padding-left:0;
}
.back a{
	color:#ccc;
}
/*end of forms*/

/*MODALS*/
/*styling to alter the Modals*/
#statementsbody	.modal-body{
	padding:0;
	text-align:left;
}
/*hover styling for the rows in both student and statement Modals*/
#student:hover, #statement:hover{
	background-color: #dff0d8;	
}
/*div in student rows containing checkbox and student name*/
.checkbox{
	width:85%;
	position:relative;
	display:inline-block;
}
/*div in student rows containing student profile pic*/
.stud_img{
	position: relative;
	width: 15%;
	display:inline-block;
	text-align:right;
}
/*styling added to student profile pic*/
.stud_img img{
	position: relative;
	max-height: 70%;
	margin-right:50%; 
	margin-top:15%;
	margin-bottom:15%;
	max-width:50%;
}
/*hover styling added to student and statement rows in Modals*/
#statement, #student{
	border-bottom:1px solid #ccc;
}

.header-layout{
	position:relative;
	width:100%;

}

.modal-header .icons{
	position:relative;
	display:inline-block;
	width:10%;

}
.modal-header .back{
	position:relative;
	display:none;
	font-size:1.5em;
	color:#ccc;
	background:none;
	border:none;
	padding:0;
	margin-left:0;
	float:none;
}
.modal-header h3{
	position:relative;
	display:inline-block;
	width:77%;

}
.modal-header .close-modal{
	border:none;
	position:relative;
	color:#f00;
	font-size: 1.5em;
	background:none;
}

.statement-panel{
	display:block;
	position:relative;
	height:100%;
	padding:10%;
}

.statement-panel .button-row{
padding:2% 0 2% 0;
}

.statement-panel select{
	font-size:1.5em;
	margin-bottom:10%;
	padding:3%;
}
/*styling added to statement rows in Modals*/
#statement{
	padding-right:2%;
	padding-top:auto;
	padding-bottom:auto;
	vertical-align: middle;	
}
/*added to adjust the text in the statement rows in the Modal*/
#statement label{
	margin-top:auto;
	margin-bottom:auto;
	display:inline-block;	
}

/*general styles used for both Modals*/
#state_sel	.modal-content{
	height:auto;
}
#statementsbody	.modal-header{
	font-size: 24px;
}
#statementsbody	.modal-header .close{
	font-size: 28px;
	}
#statementsbody	.modal-header .btn-success{
	position: relative;
	float:right;
	font-size: 15px;
	}
#statementsbody	.modal-body input[type="checkbox"]{
	padding-left:0;
	padding-right:0;
	margin-left:2%;
	margin-right:2%;
}
#statementsbody	.modal-body .radio{
	margin-top:2%;
	margin-bottom:2%;
}
#statementsbody	.modal-body input[type="radio"]{
	margin-left:2%;
	margin-right:2%;
	margin-top:3%;
	margin-bottom:3%;
	width:1.5em;
	height:1.5em;
}
#statementsbody .modal-footer{
	margin-top:0;
	}
#state_sel	.modal-content{
	height:auto;
}
#statements{
	display:none;
	position:relative;
	height:100%;
	padding-bottom:5%;
}

#comment-modal .modal-content{
	height:auto;
}
/*floating close button for comment modal*/
#comment-modal .close-modal{
	position:absolute;
	z-index:1;
	right:0.2%;
	top:0;
	border:none;
	color:#f00;
	font-size:1.8em;
	background:none;
	width:5%;
	height:20%;
	 -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg); /* Standard syntax */
}
#comment-modal .close-modal button{
    padding:0;
    line-height:2%;

	}
#comment-modal .close-modal .fa{
	position:relative;
}

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8;
}
#modal-comments{
	position:relative;
	width:98%;
	margin-top:1%;
	font-size:1.5em;
	padding:1%;
}
/*end of modal styles*/


/*Styles for the right side panel that includes the 
camera operating button and top-right logo*/
.right-side{
	position:absolute;
	width:10%;
	height:100%;
	right:0;
	z-index:0;
	text-align:center;

}
.camera-panel{
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(64,64,64,0.95);
	text-align:center;

}

.camera-icon{
	position:relative;
	vertical-align:middle;
	width:auto;
	background:none;
	border:none;
	text-align:center;
	font-family:'FontAwesome';
	color:#ccc;
	font-size:4em;
	height:20%;
	top:40%;
	bottom:40%;
	margin:0;
	padding:0;
}
.camera-icon .fa{
	position:relative;
	text-align: center;
}

.classpic{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
	width:100%;
}

.classpic img{
	margin-top:8%;
	width:100%;
}

.about{
	position:absolute;
	bottom:0;
	right:0;
	z-index:1;
	width:100%;
	text-align:center;
	padding-bottom:10%;
}
.about .fa{
position:relative;
	font:'FontAwesome';
	font-size:3.5em;
	color:#ccc;
	text-align:center;
	background:none;
	border:none;
	margin:0 auto 0 auto;
	padding:0;

}


/*******ABOUT PAGE******/

#jumbo-about {
    position: relative;
    background: rgba(51, 51, 51, 0.8);
    padding-top: auto;
    padding-bottom:0%;
    margin-top:10%;
    margin-bottom:10%;
    color: inherit;
    position: relative;
    vertical-align:middle;
  }

 .about-classpic{
	position:relative;
	color:#fff;
	font-size:1.5em;
}
/*styling a table to hold team names*/
#jumbo-about .about-classpic table{
	position:relative;
	color:#fff;
	border:0px;
	margin-bottom:2%;
}
/*controlling cell padding*/
.about-classpic td{
	padding:0.3em 0.3em 0.3em 1em;
}
.about-classpic img{
	width:50%;
}
/*styling the about page paragraphs */
.about-classpic p{
	text-align:left;
	font-size:1.1em;
	color:#fff;
	margin-bottom:2%;
}
/*a housing div for details of two businesses*/
.contact-details{
	position:relative;
	width:100%;
	height:auto;
	overflow:auto;
}
.contact-details p{
	font-size:1.5em;
	color:#fff;
	font-style:italic;
}
/*div holding individual company details, there will be two
of these side by side*/
.company{
	position:relative;
	display:inline-block;
	width:50%;
	float:left;
}
/*a main housing div for the buttons*/
.about-buttons{
	position:relative;
	width:100%;
	text-align:center;
	padding-bottom:5%;
}
/*styling for individual buttons*/
.about-buttons .btn{
	margin-left:5%;
	margin-right:5%;
	padding:2%;
	font-size:1.5em;
}



@media (min-width:1200px){
body {
  font-size:180%;
  
}

}
@media (min-width: 992px) and (max-width: 1199px) {
  body {
  font-size:180%; 
}
.image-holder img{
    position:relative;
    width:100%;  
}
}
